<!-- banner -->
    <div class="banner">
        <div class="container">
            <h1>Practical Assignment 1</h1>
            <h2>Simmon's Experiment</h2>
        </div>
    </div>

<!-- Middle content section -->
    <div class="middle">
        <div class="container" ng-controller="PA1_controller">
            <form name="PA1_form" ng-submit="form_submit()">
                <table>
                    <tr>
                        <td>
                            <textarea ng-model="plaintext" ng-change="plaintext_change()" placeholder="Plaintext"></textarea>
                            <span class="warning" ng-show="plaintext_err" >Enter Plaintext</span>
                        </td>
                        <td>
                            <textarea ng-model="plaintext_des" ng-change="plaintext_des_change()" placeholder="DES Plaintext"></textarea>
                            <span class="warning" ng-show="plaintext_des_err" >Enter Plaintext</span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="text-align: left;">
                            <p>Caeser Key :</p>
                        </td>
                        <td style="text-align: left;">
                            <input type="text" name="caeser_key" ng-model="caeser_key" ng-change="caeser_key_change()" placeholder="Caeser Key"/><span class="clear_btn" ng-click="clear('caeser_key')">C</span>
                            <span class="warning" ng-show="caeser_key_err_1" >Enter Caeser Key</span>
                            <span class="warning" ng-show="caeser_key_err_2" >Enter Decimal Number</span>
                        </td>
                        <td style="text-align: right;">
                            <p>Vignere Key :</p>
                        </td>
                        <td>
                            <input type="text" name="vignere_key" ng-model="vignere_key" ng-change="vignere_key_change()" placeholder="Vignere Key"/><span class="clear_btn" ng-click="clear('vignere_key')">C</span>
                            <span class="warning" ng-show="vignere_key_err_1" >Enter Vignere Key</span>
                            <span class="warning" ng-show="vignere_key_err_2" >Enter English Alphbetic String</span>
                        </td>
                        <td style="text-align: right;">
                            <p>Playfair Key :</p>
                        </td>
                        <td>
                            <input type="text" name="playfair_key" ng-model="playfair_key" ng-change="playfair_key_change()" placeholder="Playfair Key"/><span class="clear_btn" ng-click="clear('playfair_key')">C</span>
                            <span class="warning" ng-show="playfair_key_err_1" >Enter Playfair Key</span>
                            <span class="warning" ng-show="playfair_key_err_2" >Enter English Alphbetic String</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;">
                            <p>DES Key :</p>
                        </td>
                        <td colspan="3">
                            <input type="text" name="des_key" ng-model="des_key" ng-change="des_key_change()" placeholder="DES Key" maxlength="16"/><span class="clear_btn" ng-click="clear('des_key')">C</span>
                            <span class="warning" ng-show="des_key_err_1" >Enter DES Key</span>
                            <span class="warning" ng-show="des_key_err_2" >Enter 16-character Hex. Key</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            <input type="submit" value="Encrypt" style="margin-top: 20px;">
                        </td>
                    </tr>
                </table>
            </form>
            <div ng-show="show_analysis">
                <table id="cipher_table">
                    <tr>
                        <td>
                            <p>Caeser Ciphertext</p>
                        </td>
                        <td>
                            <p>{{caeser_ciphertext}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Vignere Ciphertext</p>
                        </td>
                        <td>
                            <p>{{vignere_ciphertext}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Playfair Ciphertext</p>
                        </td>
                        <td>
                            <p>{{playfair_ciphertext}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>DES Ciphertext</p>
                        </td>
                        <td>
                            <p>{{des_ciphertext}}</p>
                        </td>
                    </tr>
                </table>
                <chart title="Simmon's Experiment" xData="lineChartXData" yData="lineChartYData" xName="Alphabets" yName="Normalized Relative Frequency"></chart>
                <chart title="" xData="lineChartXData_des" yData="lineChartYData_des" xName="" yName="Normalized Relative Frequency"></chart>
            </div>
        </div>
    </div>